* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 2.4rem;
    font-weight: bold;
}

.Site {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  flex-direction: column;

}

#permalink {
  font-size: 14px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}


.refresh {
  padding-top: 30px;
  color: #8E0C0C;
  cursor: pointer;
}

.instruction {
  display: inline;
}

.noun {
  margin: 0 1%;
  color: #8E0C0C;
  display: inline-block;
  border-bottom: 1px dashed #8A7A7A;
  cursor: pointer;
}

.glyphicon.glyphicon-refresh {
    vertical-align: bottom;
    font-size: .6em;
    color: grey;
    display: none;
}


#cat-buttons {
    display: none;
}
